<div class="overlay"></div>
<div class="content">
   <span class="close">close</span>
   <section class="join">
     <h1>Register</h1>
     <span class="error"></span>
     <form>
     <fieldset>
     <legend>Username</legend>
     <label>
       <input type="text" name="username" />
      </label>
     <span data-msg='username'></span>
     </fieldset>
     <fieldset>
     <legend>Email Address</legend>
     <label>
     Email:
     <input type="text" name="email" /> </label>
     </fieldset>
     <fieldset>
     <legend>Password</legend>
     <label>
     Password:
     <input type="password" name="password" /> </label>
     <br />
     <label>
         Password (confirm):
     <input type="password" name="cpassword" /> </label>
     </fieldset>
      <input type="submit"></input>
   </section>
</div>
